/* TODO наші стилі  */

div#pt_vmegamenu .pt_ver_menu.active .parentMenu a span  {
    color: #f9c831;
}
.cate-items li:hover {
    background: #666;
    color: #fff;
}
/*-----Border-radius:0*/
#content div.panel-default {
    border-radius: 0;
}
div.form-group input.form-control {
    border-radius: 0;
    padding: 0 20px;
    height: 38px;
    line-height: 35px;
    font-size: 16px;

}


#content form.form-horizontal div.form-group textarea {
    border-radius: 0;
    font-size: 16px;
}
.form-control:focus  {
    border: 1px solid rgba(108, 108, 108, 0.6);
    box-shadow: none;
}
.form-control:hover {
    border: 1px solid rgba(108, 108, 108, 0.6);
}

#top {
    background-color: #157162;

}

header {
    background-color: #19887f;
}

.top-btn-act .btn {
    color: rgb(255, 255, 255);
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
    min-height: 40px;
    position: relative;
    border: none;
    text-shadow: none;
    background: rgb(76, 179, 162);
    overflow: inherit;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 1px;
    cursor: pointer;
}
.top-cart-content {
    float: right;
    width: auto;
}

.top-btn-act .btn i.fa {
    font-size: 22px;
}

.fix-header .top-wishlist-content, .fix-header .top-compare-content{
    padding: 5px 0 5px 0;
}


.fix-header .top-wishlist-content button, .fix-header .top-compare-content button {
    width: 40px;
    height: 40px;
}
.top-btn-act .btn span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(249, 200, 49);
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
}
.fix-header .top-wishlist-content button span, .fix-header .top-compare-content button span {
    top: -4px;
    right: -16px;
}
.content-vermagemenu h2 {
    color: #FFF;
    background: #4cb3a2;
    letter-spacing: 1px;
}
.pt_menu.act a span {
    color: rgb(21, 113, 98);
}
.pt_custommenu div.pt_menu .parentMenu a:hover, .pt_menu.act a span {
    color: rgb(21, 113, 98);
}


#cart > .btn {
    background: rgb(76, 179, 162);
    overflow: inherit;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 1px;
}
#cart > .btn i.fa {
    font-size: 22px;
}
#cart #cart-total {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(249, 200, 49);
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
}


.fix-header #cart button {
    width: 40px;
    height: 40px;
}
.fix-header #cart button i.fa {
    font-size: 20px;
}
.fix-header #cart button #cart-total {
    top: -4px;
    right: -16px;
}
.nav-container.fix-nav {
    background-color: rgba(11, 73, 68, 0.7);
}
.nav-container.fix-nav:hover {
    background-color: rgba(11, 73, 68, 1);
}
.quick-access #search-by-category button#btn-search-category  i {
    font-size: 22px;
}



.quick-access.fix-header #search-by-category .search-container {
    display: block;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;

}
.quick-access.fix-header #search-by-category:hover .search-container {
    width: 400px;
    right: 0;
    top: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.quick-access.fix-header #search-by-category {
    width: 400px;
    transition: none;
}
.quick-access #search-by-category .search-container div.hover-cate, input#text-search {
    font-size: 14px;
    height: 45px;
}

.fix-nav .parentMenu a span:hover {
    color: rgb(77, 243, 216) !important;
}

.footer-powered .footer-dev {
    float: right;
}

.quick-access.fix-header .top-search-content {
    right: 240px;
}
.slider-2 h2 {
    color: #19887f !important;
}
.banner7-readmore a {
    background: rgb(21, 113, 98) !important;
    color: rgb(255, 255, 255)!important;
}

.label-pro-new {
    background: #66d1b7;
}

.label-pro-sale {
    background: #e1a0d6;
}

#back-top {
    background-color: rgb(21, 113, 98);
}
#back-top:hover {
    background-color: rgb(25, 136, 127);
}
.occountdown_module {
    border: 2px solid #fbb203;
}
.occountdown_module .module-title h3 {
    background: #fbb203;
    padding: 10px 15px;
    margin: 0;
}
.occountdown_module .box-timer.is-countdown {
    background: #fbb203;
}
.occountdown_module .countdown-row {
    border: 0;
    border-top: 2px solid #fbb203;
    border-bottom: 2px solid #fbb203;
}
.occountdown_module span.countdown-section span {
    display: block;
    text-align: center;
    color: #fff;
}

.actions button.btn-cart {
    background: #219797;
    border-color: #219797;
}
.occountdown_module .module-title h3 span {
    color: rgb(255, 255, 255);
}

footer a:hover {
    color: #219797;
}

.newletter-subscribe .newletter-title h2 .fa {
    font-size: 27px;
    background: #f9c831;
    border-radius: 50%;
}

span.testimonial-author a {
    color: #219797;
}
.owl-pagination .owl-page span::before, .owl-pagination .owl-page span::after {
    background: #219797;
}
.owl-pagination .owl-page span::after {
    background-color: rgb(251, 178, 3);
}
.title-product-tabs ul.tabs li.active h3, .title-product-tabs ul.tabs li:hover h3 {
    background: #219797;
    color: rgb(255, 255, 255);
}

/*--------*/

.effect-btn, .effect-wishlist, .effect-compare {
    background: #219797;
    border-color: #219797;
    color: #fff;
}
.btn-plus input#plus, .btn-minus input#minus {
    background: #219797;
    border-color: #219797;
    color: #fff;
}

div.box-input-qty input#input-quantity {
    border: 1px solid #219797;
    border-right: none;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.btn-plus input#plus:hover, .btn-minus input#minus:hover {
    background: #f9c831
}

ul.breadcrumb  i.fa-home {
    font-size: 20px;
    line-height: 20px;
}

ul.breadcrumb  a {
    color: #157162;
}

ul.breadcrumb  a:hover {
    color: #f9c831;
}

.breadcrumb li:last-child a {
    color: #444;
    text-transform: capitalize;
    pointer-events: none;
}
.ocnewproduct-title h3.module-title-box {
    background: #66d1b7;
}

.ocnewproductslider {
    border:2px solid #66d1b7;
}
.ocnewproductslider .owl-item .item {
    border-bottom: 1px solid #66d1b7 ;
}

.ocnewproductslider .owl-item .item:last-child {
    border-bottom: 0;
}
#top-links > ul > li:hover, #top a:hover {
    background: #f9c831;
}
.btn-primary:hover {
    text-shadow: none;
}
.btn-primary {
    background: #157162;
    border-color: #157162;
    font-size: 14px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #f9c831 ;
    border-color: #f9c831;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
    box-shadow: none;
}
.btn-primary:active:focus, .btn-primary:active:hover {
    background: #f9c831 ;
    border-color: #f9c831;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
    box-shadow: none;
}
.btn:active:focus, .btn:focus {
    outline-style: none;
}
.checkout-cart-buttons .button-shopping a, .checkout-cart-buttons .button-update-cart button,
.checkout-cart-buttons .button-checkout-cart a {
    background: #157162;
    border-color: #157162;
    color: #fff;
}
.checkout-cart-buttons .button-shopping:hover a, .checkout-cart-buttons .button-update-cart:hover button,
.checkout-cart-buttons .button-checkout-cart:hover a{
    background: #f9c831 ;
    border-color: #f9c831;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
}
.owl-theme .owl-controls .owl-buttons div {
    background: #219797;
    border: 1px solid #219797;
}
.owl-theme .owl-controls .owl-buttons div:hover {
    background: #f9c831 ;
    border: 1px solid #f9c831;

}
.label-pro-new::before, .label-pro-sale::before {
    border-color: transparent;
}
.checkout-checkout .payment .t-head {
    background-color: #157162;
}
.btn-success {
    background: #157162;
    border-color: #157162;
}

.btn-success:hover {
    background: #f9c831 ;
    border-color: #f9c831;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
}
div #button-modify:hover {
    background: #f9c831 ;
    border-color: #f9c831;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
}

select.form-control {
    max-width: 280px;
    border-radius: 0;
}
select.form-control:focus {
    border: 1px solid rgba(108, 108, 108, 0.6);
}

/*#LoginModal div.modal-dialog {*/
    /*width: 380px;*/
    /*position: fixed;*/
    /*top: calc(50% - 190px);*/
    /*left: calc(50% - 170px);*/
/*}*/
div.modal-content {
    width: 380px;
    border-radius: 0;
}
div.modal-content .modal-header  {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 5px;
    }
div.modal-content .modal-header h3 {
    font-size: 20px;
}
div.modal-content .modal-header button.close {
    position: absolute;
    right: -35px;
    top: 2px;
    opacity: 1;
    height: 30px;
    width: 30px;
    color: white;
    font-size: 26px;
}
div.modal-content .modal-header button.close:hover {
    background: rgba(255,0,0, 0.8);
}
div.modal-content .modal-body {
    padding-top: 5px;
}
div.modal-content .modal-body p {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
div.modal-content .modal-body p strong {
    font-weight: 400;
}
div.modal-content .modal-body  form   div:last-child {
    height: 35px;
}
div.modal-content .modal-body  form   div:last-child a {
    display: block;
    height:35px;
    line-height: 35px;
    border: 1px solid #f0f0f0;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    background: #f0f0f0;
    color: #2b2b2b;
    font-weight: bold;

}
div.modal-content .modal-body  form   div:last-child a:hover {
    background: #219797;
    color: rgb(255, 255, 255);
}

div.modal-content .modal-body  form   div:last-child a:last-child {
    display: none;
    }
div.modal-content .modal-body form label {
    display: none;
}
div.modal-content .modal-body form input {
    border-radius: 0;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
div.modal-content .modal-body form div.form-group:first-child {
    margin-bottom: 5px;
}

div.modal-content .modal-body  form div:nth-child(3)  {
    float: right;
    font-size: 13px;
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
    font-weight: bold
}
div.modal-content .modal-body div.errors-block {
    padding: 5px;
    color: red;
    letter-spacing: 1px;
    text-align: center;
}
div#login_warning span.login-modal-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #343434 ;
    font-weight: 600;
}
div#login_warning span.login-modal-link:hover {
    color: #f9c831;
}
#payment-address .fields-group  input {
    border-radius: 0;
    padding: 0 20px;
    height: 38px;
    line-height: 35px;
    font-size: 16px;
    border: 1px solid rgb(201, 201, 201);
}
#payment-address .fields-group  input:focus {
    border: 1px solid rgba(108, 108, 108, 0.6);
}
#payment-address .fields-group  input:hover {
    border: 1px solid rgba(108, 108, 108, 0.6);
}
.fields-group div.panel-heading {
    background: #157162;
    border: 1px solid #157162;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0;
}
.fields-group div.panel-heading:hover  {
    color: #fff;
    background: #f9c831;
    border: 1px solid #f9c831;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
}
.fields-group div.panel-heading a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
}
#content .payment .checkout-data table#totals {
    width: 95%;
    height: auto;
    margin: 0 auto;
}
table#totals tbody tr.subtotal:first-child td {
    border:none;
}

#content .payment .checkout-data table#totals tr.subtotal {
    background: rgba(215,220,224,0.3);
}
#content .payment .checkout-data table#totals tr.subtotal td {
    border-right: none;
    border-left: none;
}
#content .payment .checkout-data table#totals tr.subtotal td.subtotal{
    color: #157162;
}
#content .checkout-checkout .cart-info tbody .price, .checkout-checkout .cart-info tbody .total {
    color: #ff560b;
}
#content form div.row .box-show-price table.table-bordered {
    width: 97%;
    height: auto;
    margin: 0 auto 20px auto;
}
#content form div.row .box-show-price table.table-bordered tbody {
    background: rgba(215,220,224,0.3);
}
#content form div.row .box-show-price table.table-bordered tbody tr td.text-right {
    border-right: none;
    border-left: none;
    font-weight: bold;

}
#content form div.table-checkout-cart table.table-bordered {
    width: 99%;
    margin: 15px auto 15px auto;
}
#content form div.table-checkout-cart table.table-bordered tr td {
    line-height: 35px;
    height: 35px;
    text-align: center;
}
#content form div.table-checkout-cart table.table-bordered thead {
    background-color: #157162;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}
#content form div.table-checkout-cart table.table-bordered tbody {
    background: rgba(215,220,224,0.3);
    font-weight: bold;
    padding: 30px 15px;
}
#content form div.table-checkout-cart table.table-bordered tbody tr td {
    border-right: none;
    border-left: none;
    line-height: 1;
    vertical-align: middle;
}
#content form div.table-checkout-cart table.table-bordered tbody tr  button.btn-remove {
    background: transparent;
    margin-top: 0;
}
#content form div.table-checkout-cart table.table-bordered tbody tr  button.btn-remove i.fa-trash-o {
    font-size: 25px;
}
#content form div.table-checkout-cart table.table-bordered tbody tr td.text-center .form-quantity div.btn-plus input,
.form-quantity div.btn-minus input{
    background: #219797;
    border-color: #219797;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#content form div.table-checkout-cart table.table-bordered tbody tr td.text-center .form-quantity div.btn-plus:hover input,
.form-quantity div.btn-minus:hover input {
    background: #f9c831

}
#content form div.table-checkout-cart table.table-bordered tbody tr td.text-center .form-quantity input.cart-qty {
    border: 1px solid #219797;
    border-right: none;
}
#content form div.table-checkout-cart table.table-bordered tbody tr td.text-center .form-quantity input.cart-qty:focus {
    border: 1px solid rgba(108, 108, 108, 0.6);
}
#content form div.table-checkout-cart table.table-bordered tbody div.input-group {
    position: relative;
    left: calc(50% - 30px);
}

.container div.alert-success {
    background: #157162;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
.container div.alert-success  button.close {
    position: absolute;
    top:5px;
    float: none;
    color: #fff;
    font-size: 20px;
    opacity: 1;
    margin-left: 5px;
}
.container div.alert-success  button.close:hover {
    color: #f9c831;
}
.container div.alert-danger {
    background: rgba(255,0,0,0.6);
    border: transparent;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    border-radius: 0;
}

#content .checkout-checkout .payment .t-head, .checkout-checkout table  {
    width: 98%;
    margin: 0 auto;
}
#content .checkout-checkout .checkout-data .table-responsive table.table tbody {
    background: rgba(215,220,224,0.3);
    font-weight: bold;
}
#content .checkout-checkout .checkout-data .table-responsive table.table thead tr td.name {
    border-left: none;
}
#content .checkout-checkout .checkout-data .table-responsive table.table tbody tr td {
    border-right: none;
    border-left: none;
    line-height: 1;
    vertical-align: middle;
}

form div.clearfix .pull-left a.btn-default {
    display: inline-block;
    border: 1px solid #f0f0f0;
    text-align: center;
    text-transform: uppercase;
    background: #f0f0f0;
    color: #2b2b2b;
    padding: 7.5px 35px;
    font-size: 15px;
    font-weight: 400;
}
form div.clearfix .pull-left a.btn-default.btn-default:hover {
    background: #219797;
    color: rgb(255, 255, 255);
}

/*.well .form-group input {*/
    /*border-radius: 0;*/
    /*padding: 0 20px;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*font-size: 14px;*/
/*}*/


/*.well p:nth-child(2) strong {*/
    /*font-weight: 400;*/
/*}*/
/*.well form input.btn-primary {*/
    /*padding: 7.5px  35px;*/
    /*position: relative;*/
    /*left: calc(100% - 114px);*/
/*}*/
/*.well a.btn-primary {*/
    /*padding: 7.5px  35px;*/
    /*position: relative;*/
    /*left: calc(100% - 158px);*/
/*}*/


.account-login {}
.account-login #content {}
.account-login #content .row { display: flex;}
.account-login #content  .col-md-5{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.account-login #content .well {
border-radius: 0;
background: rgba(215,220,224, 0.2) ;
border: 1px solid rgba(215,220,224, 0.4);
box-shadow: none;
    position: relative;
    padding-bottom: 60px;
}

.account-login #content .well .form-group label{
display: none;
}

.account-login #content  .well h2 {
text-align: center;
text-transform: capitalize;
}
.account-login #content  .well .btn-primary {
    position: absolute;
    right: 19px;
    text-transform: uppercase;
    font-size: 14px;
    bottom: 19px;
}

.account-login #content .well .form-group input {
    border-radius: 0;
    padding: 0 20px;
    height: 38px;
    line-height: 35px;
    font-size: 16px;
    border: 1px solid rgb(201, 201, 201);
}

.account-login #content .well .forgotten{
    display: block;
    padding-top: 4px;
}
.account-login #content .form-group input[type="text"]:hover, .account-login #content .form-group input[type="password"]:hover,
.account-login #content .form-group input[type="text"]:focus, .account-login #content .form-group input[type="password"]:focus
{
    border: 1px solid rgba(108, 108, 108, 0.6);
}

.account-login #content .well p.sub-title {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    opacity: .4;
    letter-spacing: 3px;
    transition: 500ms;
}
.account-login #content .well:hover p.sub-title {
    opacity: .9;
    transition: 500ms;
}
.newletter-subscribe input#subscribe_email:focus {
    border: 1px solid rgba(108, 108, 108, 0.6);
}
div.text-danger {
    font-size: 13px;
    letter-spacing: 1px;
    color: red;
}
.has-error input.form-control:focus,
.has-error textarea.form-control:focus {
    border: 1px solid rgba(108, 108, 108, 0.6);
    box-shadow: none;
}
input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: none;
}

.modal.in .modal-dialog {
    width: 600px;
    margin: auto;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
}
.modal.in .modal-dialog .modal-content { margin: auto}
