#search-by-category {
	width: 80%;
    /*float: right;*/
    position: relative;
}
#category-search { height: 46px; }
.categories-container {
    float: left;
    width: 32%;
    vertical-align: middle;
    line-height: 45px;
    height: 45px;
    background: #fff;
    margin-right: 1%;
}
#text-search { 
    float: left;
    width: 67%;
    height: 45px;
    border: none;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 55px;
 }
#text-search:hover,#text-search:active:focus,#text-search:visited{
    outline: none;
    box-shadow: none;
 }
#btn-search-category .fa{font-size: 16px;}
#btn-search-category:hover{
        background: #fbb203;
}
#sp-btn-search { 
	width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    text-align: center;
    background:#fff;
 }
#btn-search-category { 
    height: 41px;
    width: 41px;
    text-align: center;
    padding: 0;
    border-radius: 0;
    margin-top: 2px;
    background: #222;
    box-shadow: none;
    outline: none;
    color: #fff;
    text-shadow: none;
    border: none;
 }
.ajax-loader-container { display: none; }
.ajax-result-item { list-style: none; }
.ajax-result-item .product-image{ float: left; }
.cate-items{
	z-index: 9999 !important;
    position: absolute;
    display: none;
    background: #FFF none repeat scroll 0% 0%;
    max-height: 300px;
    overflow: auto;
    margin-top: 0px;
    border: 1px solid #DDD !important;
    padding: 0px;
    width: 100%;
    text-align: left;
    list-style: none;
    cursor: pointer;
}
.cate-items li{
	line-height: 20px;
	padding:5px 10px;
}
.cate-items li:hover{
	background: #0091d5;
	color:#fff;
}
.ajax-loader-container { 
	position: absolute; 
	top: 46px; 
	z-index: 110; 
	width: 470px; 
	height: 300px; 
	border: 2px solid antiquewhite; 
	background-color: white; 
	opacity: 0.5; 
}
.ajax-result-container { 
    position: absolute;
    top: 46px;
    z-index: 100;
    width: 67%;
    height: auto;
    max-height: 300px;
    overflow: auto;
    background-color: white;
    right: 0;
}
ul.ajax-result-list{padding:0px;}
.product-info { 
    display: inline-block;
    border-bottom: 1px solid antiquewhite;
    width: 100%;
    padding: 0 15px;
}
.product-info > .product-img { float: left; }
.product-info > .detail { padding-left: 110px; }
.product-info .price-old { text-decoration: line-through; }
.hover-cate {
    position: relative;
    cursor: pointer;
}
.hover-cate p{
	margin-bottom: 0px;
}
.hover-cate p:before {
    content: "\f0d7";
    position: absolute;
       right: 15px;
       font-family: FontAwesome;
}
.hover-cate p span{padding-left: 15px;}
.ajax-result-item .product-image img{
	max-width: 100px;
}
.ajax-result-item .product-name a{
	    font-size: 16px;
    font-weight: 600;
}
.ajax-result-item .price-box p{
	display: inline-block;
}
.ajax-result-item .price-box span{
    color: #ff560b;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.ajax-result-item .price-box .old-price span{
	color: #838383;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 14px;
    padding: 0 5px;
}
.ajax-result-container{
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -webkit-transition: box-shadow 300ms 0s ease;
    -moz-transition: box-shadow 300ms 0s ease;
    -ms-transition: box-shadow 300ms 0s ease;
    -o-transition: box-shadow 300ms 0s ease;
    transition: box-shadow 300ms 0s ease;
}
@media (min-width: 992px){
    .quick-access.fix-header .top-search-content {
	    width: auto;
	    position: absolute;
	    right: 160px;
	}
	.quick-access.fix-header .search-container{
	    display: none;
	    top: 0;
	   	width: 0;
	    transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	}
	.quick-access.fix-header #search-by-category {
	    width: 45px;
	    float: left;
	    position: relative;
	    height: 45px;
	    margin-top: 5px;
    	padding-bottom: 50px;
	}
	.quick-access.fix-header #search-by-category:hover .search-container{
		display: block !important;
	    width: 400px;
	    position: absolute;
	    right: 0;
	    top: 100%;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
	.quick-access.fix-header #text-search{background: #eee;}
	.quick-access.fix-header .hover-cate p{background: #eee;}
	.quick-access.fix-header .ajax-result-container{
		width: 270px;
		top: 107px;
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	    -webkit-transition: box-shadow 300ms 0s ease;
	    -moz-transition: box-shadow 300ms 0s ease;
	    -ms-transition: box-shadow 300ms 0s ease;
	    -o-transition: box-shadow 300ms 0s ease;
	    transition: box-shadow 300ms 0s ease;
	}
} 
@media (max-width: 991px){#search-by-category{width: 100%;}}
@media (max-width: 479px){
    .product-info > .detail{padding: 0 5px;}
    .hover-cate p:before{right: 5px;}
    .hover-cate p span {    padding-left: 5px;    font-size: 11px;}
}    